doctype html
html(lang="en")
	head
		title Daftar #{ucfirst(collection)}
		link(rel='stylesheet', href='../../css/bootstrap.min.css')
		style .btn {margin:10px 10px 10px 0px;}
	body
		#container
			- var obj = objects
			div.col-md-8.col-md-offset-2
				div.panel.panel-default
					div.panel-heading
						Ubah Data Dokter
					div.panel-body
						form(method='post', action='')
							div.form-group
								label(for='NPP') NPP
								input(type='text', name='NPP', id='NPP', value='#{obj.NPP}').form-control
							div.form-group
								label(for='NAMA') NAMA
								input(type='text', name='NAMA', id='NAMA', value='#{obj.NAMA}').form-control
							div.form-group
								label(for='SPESIALISASI') SPESIALISASI
								input(type='text' name='SPESIALISASI', id='SPESIALISASI', value='#{obj.SPESIALISASI}').form-control
							div.form-group
								label(for='ALAMAT') ALAMAT
								input(type='text' name='ALAMAT', id='ALAMAT', value='#{obj.ALAMAT}').form-control
							div.form-group
								input(type='submit', value='Ubah').btn.btn-warning
								a(href='/#{collection}', role='button').btn.btn-danger Batal